# Diretório target do Maven
target/

# Arquivos de compilação
*.class
*.jar
*.war
*.ear

# Arquivos do IDE
.idea/
*.iml
*.iws

# Arquivos do Eclipse
.settings/
.project
.classpath

# Arquivos do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.temp